<div class="software">
    <div class="tool-bar">
        <button nz-button nzType="text" class="help">
            <i class="fa-light fa-circle-info"></i> 使用说明</button>
    </div>

    <div class="left-box block-box">
        <div class="phone-box">
            <div class="header"></div>
            <iframe src="https://tool.aily.pro/" frameborder="0" allow="bluetooth *; serial *;"></iframe>
            <img src="assets/iphone.png" alt="" srcset="">
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-book"></i></div>
            使用说明
        </div>
        <div>
            本软件需要搭配aily shiled使用，可搭配树莓派等Linux模组使用，aily shiled使用文档可见<a
                href="https://aily.pro/shield">https://aily.pro/shield</a>
        </div>
        <div class="title" style="margin-top: 15px;">
            <div><i class="fa-solid fa-mobile"></i></div>
            app下载
        </div>
        <div class="app-dl-box">
            <div>
                <div>
                    <i class="fa-brands fa-apple"></i>
                </div>
                <div>IOS</div>
            </div>
            <div>
                <div>
                    <i class="fa-brands fa-android"></i>
                </div>
                <div>Android</div>
            </div>
        </div>
    </div>
</div>