<div class="software">
    <div class="left-box block-box">
        <app-markdown></app-markdown>
    </div>
    <div class="mid-box">
        <div class="block-box">
            <div class="title">
                <div>
                    <i class="fa-solid fa-link-simple"></i>
                </div>
                设备连接
            </div>
            <button nz-button class="icon" (click)="connect()">
                <ng-container *ngIf="port;else device">已连接</ng-container>
                <ng-template #device>连接设备</ng-template>
            </button>
        </div>
        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-sliders"></i></div>
                基本配置
            </div>
            <div class="top">
                <div>
                    音色
                    <nz-input-number [(ngModel)]="volume" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </div>
                <div>
                    音量
                    <nz-input-number [(ngModel)]="volume" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </div>
                <div>
                    语速
                    <nz-input-number [(ngModel)]="speed" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </div>
                <div>
                    语调
                    <nz-input-number [(ngModel)]="pitch" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </div>
            </div>
        </div>
        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-input-text"></i></div>
                测试文本
            </div>
            <div class="test-box">
                <button nz-button nzType="default" (click)="loadText(item)"
                    *ngFor="let item of testTextList">{{item.text}}</button>
            </div>
        </div>
        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-input-pipe"></i></div>
                自定义文本
            </div>
            <div class="custom-input">
                <input nz-input [(ngModel)]="customText" (ngModelChange)="customTextChange()" />
            </div>
        </div>
        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-laptop-code"></i></div>
                指令生成
            </div>
            <div class="hex-box">
                <nz-code-editor class="editor" [ngModel]="bufferStr" [nzEditorOption]="{
                    lineNumbers: 'off',
                    wordWrap: 'on',
                    minimap: { enabled: false }
                    }"></nz-code-editor>
                <nz-button-group>
                    <button nz-button nzType="primary" (click)="play()">
                        <i class="fa-light fa-circle-play"></i> 播放
                    </button>
                    <button nz-button nzType="primary" (click)="pause()">
                        <i class="fa-light fa-circle-pause"></i> 暂停
                    </button>
                    <button nz-button nzType="primary" (click)="copy()">
                        <i class="fa-light fa-copy"></i> 复制
                    </button>
                </nz-button-group>
            </div>
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-brackets-curly"></i></div>
            代码生成
        </div>
        <div class="gencode">
            <button class="code-btn" (click)="selectCode('arduino')" [ngClass]="{'active': currentCode=='arduino'}">
                <i class="fa-regular fa-infinity"></i>Arduino
            </button>
            <button class="code-btn" (click)="selectCode('python')" [ngClass]="{'active': currentCode=='python'}">
                <i class="fa-brands fa-python"></i>Python
            </button>
            <button class="code-btn" (click)="selectCode('nodejs')" [ngClass]="{'active': currentCode=='nodejs'}">
                <i class="fa-brands fa-node-js"></i>NodeJS
            </button>
        </div>
        <div class="code-zone">
            <nz-code-editor class="editor" [ngModel]="code" [nzEditorOption]="{ language:'cpp',wordWrap: 'on',
            minimap: { enabled: false }}">
            </nz-code-editor>
        </div>
    </div>
</div>