<div class="software">
    <div class="tool-bar">
        <button nz-button class="connect-btn" (click)="connect()" [ngClass]="{'connect': port}">
            <ng-container *ngIf="port;else device">已连接</ng-container>
            <ng-template #device>连接设备</ng-template>
        </button>
        <button nz-button nzType="text" class="help"><i class="fa-light fa-circle-info"></i>使用帮助</button>
    </div>
    <div class="mid-box">
        <!-- <div class="block-box">
            <div class="title">
                <div>
                    <i class="fa-solid fa-link-simple"></i>
                </div>
                设备连接
            </div>
            <button nz-button class="connect-btn" (click)="connect()" [ngClass]="{'connect': port}">
                <ng-container *ngIf="port;else device">已连接</ng-container>
                <ng-template #device>连接设备</ng-template>
            </button>
        </div> -->
        <div class="block-box" style="flex-grow: 0;">
            <div class="title">
                <div><i class="fa-solid fa-sliders"></i></div>
                基本配置
            </div>
            <div class="top">
                <div class="setting-item">
                    <div class="line ccenter">
                        <div class="ccenter"><i class="fa-solid fa-users"></i></div>
                        音色
                    </div>
                    <nz-select ngModel="温柔女声">
                        <nz-option nzValue="温柔女声" nzLabel="温柔女声"></nz-option>
                    </nz-select>
                </div>
                <div class="setting-item">
                    <div class="line ccenter">
                        <div class="ccenter"><i class="fa-solid fa-volume"></i></div>
                        音量
                    </div>
                    <div class="slider-box">
                        <!-- <i class="fa-regular fa-minus"></i> -->
                        <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="volume"
                            (ngModelChange)="settingchange()"></nz-slider>
                        <!-- <i class="fa-regular fa-plus"></i> -->
                    </div>
                </div>
                <div class="setting-item">
                    <div class="line ccenter">
                        <div class="ccenter"><i class="fa-solid fa-comment-dots"></i></div>
                        语速
                    </div>
                    <div class="slider-box">
                        <!-- <i class="fa-regular fa-minus"></i> -->
                        <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="speed"
                            (ngModelChange)="settingchange()"></nz-slider>
                        <!-- <i class="fa-regular fa-plus"></i> -->
                    </div>
                </div>
                <div class="setting-item">
                    <div class="line ccenter">
                        <div class="ccenter"><i class="fa-solid fa-explosion"></i></div>
                        语调
                    </div>
                    <div class="slider-box">
                        <!-- <i class="fa-regular fa-minus"></i> -->
                        <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="pitch"
                            (ngModelChange)="settingchange()"></nz-slider>
                        <!-- <i class="fa-regular fa-plus"></i> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="block-box" style="flex-grow: 0;">
            <div class="title">
                <div><i class="fa-solid fa-input-text"></i></div>
                测试文本
            </div>
            <div class="test-box">
                <button nz-button nzType="default" (click)="loadText(item)"
                    *ngFor="let item of testTextList">{{item.text}}</button>
            </div>
        </div>
        <div class="block-box" style="flex-grow: 0;">
            <div class="title">
                <div><i class="fa-solid fa-input-pipe"></i></div>
                自定义文本
            </div>
            <div class="custom-input">
                <input nz-input [(ngModel)]="customText" (ngModelChange)="customTextChange()" />
            </div>
        </div>
        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-laptop-code"></i></div>
                指令生成
            </div>
            <div class="hex-box">
                <nz-code-editor class="editor" [ngModel]="bufferStr" [nzEditorOption]="{
                    lineNumbers: 'off',
                    wordWrap: 'on',
                    minimap: { enabled: false }
                    }"></nz-code-editor>
                <div>
                    <button nz-button (click)="play()">
                        <i class="fa-light fa-circle-play"></i> 播放
                    </button>
                    <button nz-button (click)="pause()">
                        <i class="fa-light fa-circle-pause"></i> 停止
                    </button>
                    <button nz-button (click)="copy()">
                        <i class="fa-light fa-copy"></i> 复制
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-brackets-curly"></i></div>
            代码生成
        </div>
        <div>
            <button class="code-btn" (click)="selectCode('arduino')" [ngClass]="{'active': currentCode=='arduino'}">
                <i class="fa-regular fa-infinity"></i>Arduino
            </button>
            <button class="code-btn" (click)="selectCode('python')" [ngClass]="{'active': currentCode=='python'}">
                <i class="fa-brands fa-python"></i>Python
            </button>
            <button class="code-btn" (click)="selectCode('nodejs')" [ngClass]="{'active': currentCode=='nodejs'}">
                <i class="fa-brands fa-node-js"></i>NodeJS
            </button>
        </div>
        <div class="code-zone">
            <nz-code-editor class="editor" [ngModel]="code" [nzEditorOption]="{ language:'cpp',wordWrap: 'on',
            minimap: { enabled: false }}">
            </nz-code-editor>
        </div>
    </div>
</div>