@import "../software.scss";

.title {
    font-weight: bold;
    margin-left: -8px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    >div {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(71, 59, 212, 1);
        padding-top: 2px;
    }
}

.connect-btn {
    border-radius: 6px;
    background: #f7f7f7;
    border: none;
    width: 100px;

    &.connect {
        background: #473bd4;
        color: #FFF;
    }
}

.top {
    display: flex;

    .setting-item {
        margin-right: 15px;
        background: #f7f7f7;
        border-radius: 12px;
        padding: 10px;
        width: 160px;
        position: relative;

        .line {
            justify-content: flex-start;

            >div {
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }
        }

        &:nth-child(1) {
            i {
                color: rgba(250, 155, 67, 1);
            }
        }

        &:nth-child(2) {
            i {
                color: rgba(39, 230, 47, 1);
            }
        }

        &:nth-child(3) {
            i {
                color: rgba(72, 124, 255, 1);
            }
        }

        &:nth-child(4) {
            margin-right: 0;
            i {
                color: rgba(74, 222, 232, 1);
            }
        }

        nz-select {
            width: 100%;
            margin-top: 10px;

            ::ng-deep {
                .ant-select-selector {
                    border: none;
                    border-radius: 6px;
                }
            }
        }

        .slider-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            position: relative;

            nz-slider {
                width: 100%;

                ::ng-deep {
                    .ant-slider-rail {
                        background: #d6d6d6;
                    }
                }
            }

            i {
                color: #666;
                font-size: 12px;
                cursor: pointer;
            }

            i:first-child {
                margin-right: 10px;
            }

            i:last-child {
                margin-left: 10px;
            }
        }
    }
}

.test-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-right: -15px;

    button {
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 6px;
        background: #f7f7f7;
        border: none;
    }
}

.hex-box {
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
        background: #473bd4;
        border-right-color: #6f63ed !important;
        color: #FFF;
        margin-left: 10px;
        border-radius: 6px;
    }

    .editor {
        height: 100px;
        margin-bottom: 15px;
        overflow: hidden;
        border-radius: 8px;

        ::ng-deep {
            .monaco-editor-background {
                background-color: #f7f7f7;
            }

            .overflow-guard {
                .margin {
                    background-color: #f7f7f7;
                }
            }
        }

    }
}

.left-box {
    min-width: 300px;
}

.mid-box {
    margin-left: 15px;
    flex-shrink: 1;
    flex-grow: 0;

    .block-box {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    .custom-input {
        input {
            background: #f7f7f7;
            border: none;
            border-radius: 6px;
        }
    }
}

.right-box {
    margin-left: 15px;
    min-width: 400px;
}

.code-zone {
    margin-left: -15px;

    .editor {
        height: 700px;

    }
}

button {
    i {
        margin-right: 8px;
    }
}


.gencode {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 6px;
}

.code-btn {
    background: #473bd4;
    opacity: 0.6;
    color: #FFF;
    border: none;
    cursor: pointer;
    height: 32px;
    width: 100px;
    padding: 0 10px;

    &:hover {
        opacity: 0.8;
    }

    &.active {
        opacity: 1;
    }

    &:first-child {
        border-radius: 12px 0 0 0;
    }

    &:last-child {
        border-radius: 0 12px 0 0;
    }
}