@import "../software.scss";

.title {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    >div {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(71, 59, 212, 1);
        padding-top: 2px;
    }
}

button.icon {
    margin-right: 15px;

    i {
        margin-right: 10px;
    }
}

.top {
    display: flex;

    >div {
        margin-left: 15px;
    }
}

.test-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    button {
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.hex-box {
    background: #FFF;
    display: flex;
    border-radius: 15px 15px 0 15px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .editor {
        height: 200px;
        margin-bottom: 15px;
    }
}

.gencode {
    button {
        i {
            margin-right: 5px;
        }
    }
}

.main {
    margin-left: 15px;

    .block-box {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.right-box {
    margin-left: 15px;
    min-width: 400px;
}

.code-zone {
    .editor {
        height: 100%;
    }
}