@import "../software.scss";

.title {
    font-weight: bold;
    margin-left: -8px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    >div {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(71, 59, 212, 1);
        padding-top: 2px;
    }

    .add-btn {
        margin-top: 2px;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        width: 70px !important;
        cursor: pointer;
        color: #666;
        &:hover{
            color: rgba(71, 59, 212, 1);
        }

        i {
            margin-right: 5px;
        }
    }
}

.connect-btn {
    border-radius: 6px;
    background: #f7f7f7;
    border: none;
    width: 100px;

    &.connect {
        background: #473bd4;
        color: #FFF;
    }
}

.top {
    display: flex;

    .setting-item {
        margin-right: 15px;
        background: #f7f7f7;
        border-radius: 12px;
        padding: 10px;
        width: 160px;
        position: relative;

        .line {
            justify-content: flex-start;

            >div {
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }
        }

        &:nth-child(1) {
            i {
                color: rgba(250, 155, 67, 1);
            }
        }

        &:nth-child(2) {
            i {
                color: rgba(39, 230, 47, 1);
            }
        }

        &:nth-child(3) {
            i {
                color: rgba(72, 124, 255, 1);
            }
        }

        &:nth-child(4) {
            margin-right: 0;

            i {
                color: rgba(74, 222, 232, 1);
            }
        }

        nz-select {
            width: 100%;
            margin-top: 5px;

            ::ng-deep {
                .ant-select-selector {
                    border: none;
                    border-radius: 6px;
                }
            }
        }

        .slider-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            position: relative;

            nz-slider {
                width: 100%;

                ::ng-deep {
                    .ant-slider-rail {
                        background: #d6d6d6;
                    }
                }
            }

            i {
                color: #666;
                font-size: 12px;
                cursor: pointer;
            }

            i:first-child {
                margin-right: 10px;
            }

            i:last-child {
                margin-left: 10px;
            }
        }
    }
}

.left-box {
    width: calc(100% - 315px);
    position: relative;

    .rrow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        >div {
            width: calc(50% - 7.5px);
        }
    }

    >div.block-box {
        margin-bottom: 15px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.right-box {
    margin-left: 15px;
    height: calc(100vh - 85px);
    max-width: 300px;
    flex-grow: 1;
}

.block {
    margin-bottom: 10px;
    height: 75px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    box-shadow: 0 0 2px #e1e1e1;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px #CCC;
    }

    .top {
        display: flex;
        align-items: center;
        font-size: 12px;

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 5px;
            font-size: 14px;
        }

        .dots {
            position: absolute;
            right: 10px;
            opacity: 0.5;
        }
    }

    .bot {
        height: 30px;
        display: flex;
        margin-top: 5px;

        input {
            height: 28px;
            border-radius: 5px;
            border: none;
        }

        nz-select {
            height: 28px;
            border-radius: 5px;
            margin-right: 8px;

            ::ng-deep {
                nz-select-top-control {
                    height: 28px;
                    border-radius: 5px;
                    border: none;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.a-row {
    padding: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: 1px solid #f7f7f7;
    height: 102px;
    position: relative;

    .left {
        width: 150px;
        flex-shrink: 0;
        height: 100%;
        // border: 1px solid #f7f7f7;
        border-radius: 12px 0 0 12px;
        background: #eeeeee;
        padding: 5px 20px 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            margin-top: 3px;
            height: 28px;
            border-radius: 5px;
            border: none;
            background: #f7f7f7;
        }
    }

    .right {
        flex-grow: 1;
        margin-left: -12px;
        background: rgba(247, 247, 247, 1);
        border-radius: 12px;
        height: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 5px 10px;

        .block {
            margin-right: 10px;
        }

        &::-webkit-scrollbar {
            height: 2px; // 设置滚动条宽度
        }

        &::-webkit-scrollbar-track {
            background: transparent; // 设置滚动条轨道背景色
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.5); // 设置滚动条颜色和透明度
            border-radius: 5px; // 设置滚动条圆角
        }
    }
}