<div class="software">
    <div class="tool-bar">
        <button nz-button>下载固件</button>
        <button nz-button nzType="primary" (click)="runOTA()">烧录固件</button>
        <button nz-button nzType="text" class="help"><i class="fa-light fa-circle-info"></i>使用帮助</button>
    </div>
    <div class="left-box">
        <div class="rrow">
            <div class="block-box">
                <div class="title">
                    <div>
                        <i class="fa-solid fa-link-simple"></i>
                    </div>
                    语音播放
                </div>
            </div>
            <div class="block-box">
                <div class="title">
                    <div><i class="fa-solid fa-sliders"></i></div>
                    串口通信
                </div>
                <div class="top">

                </div>
            </div>
        </div>

        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-input-text"></i></div>
                唤醒词
            </div>
            <div class="a-row">
                <div class="left">
                    唤醒词
                    <input nz-input type="text">
                </div>
                <div class="right" dragula="VAMPIRES" id="weekCmd">
                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microphone"></i></div>
                语音指令
                <button class="add-btn" nz-button nzType="text" (click)="addCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let item of cmdList;index as i">
                <div class="left">
                    语音指令{{i}}
                    <input nz-input type="text">
                </div>
                <div class="right" dragula="VAMPIRES" id="speechCmd">
                    <!-- <div style="text-align: center;color:#ccc">拖拽模块到这里，编排触发动作</div> -->

                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microchip"></i></div>
                I/O中断
                <button class="add-btn" nz-button nzType="text" (click)="addIntCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let item of intCmdList;index as i">
                <div class="left">
                    IO中断指令{{i}}
                    <input nz-input type="text">
                </div>
                <div class="right" dragula="VAMPIRES" id="intCmd">

                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-laptop-code"></i></div>
                串口输入
                <button class="add-btn" nz-button nzType="text" (click)="addSerialCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let item of serialCmdList;index as i">
                <div class="left">
                    串口指令{{i}}
                    <input nz-input type="text">
                </div>
                <div class="right" dragula="VAMPIRES" id="serialCmd">

                </div>
            </div>
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-brackets-curly"></i></div>
            可用模块
        </div>
        <div id="block-bar" dragula="VAMPIRES">
            <ng-container *ngFor="let block of blockList">
                <app-block [block]="block"></app-block>
            </ng-container>
        </div>
    </div>
</div>