<div class="software">
    <div class="tool-bar">
        <button nz-button>下载固件</button>
        <button nz-button nzType="primary" (click)="runOTA()">烧录固件</button>
        <button nz-button nzType="text" class="help"><i class="fa-light fa-circle-info"></i>使用帮助</button>
    </div>
    <div class="left-box">
        <div class="rrow">
            <div class="block-box">
                <div class="title">
                    <div>
                        <i class="fa-solid fa-link-simple"></i>
                    </div>
                    语音播放
                </div>
            </div>
            <div class="block-box">
                <div class="title">
                    <div><i class="fa-solid fa-sliders"></i></div>
                    串口通信
                </div>
                <div class="top">

                </div>
            </div>
        </div>

        <div class="block-box">
            <div class="title">
                <div><i class="fa-solid fa-input-text"></i></div>
                唤醒词
            </div>
            <div class="a-row">
                <div class="left">
                    唤醒词
                    <input nz-input type="text">
                </div>
                <div class="right">
                    <ng-container *ngFor="let block of blockList">
                        <div class="block" [ngStyle]="{'background': block.background}">
                            <div class="top" [ngStyle]="{'color': block.color}">
                                <div class="icon ccenter" [ngStyle]="{'background': block.background2}">
                                    <i class="{{block.icon}}"></i>
                                </div>
                                <div class="text">
                                    {{block.title}}
                                </div>
                                <div class="dots">
                                    <i class="fa-solid fa-grip-dots"></i>
                                </div>
                            </div>
                            <div class="bot">
                                <ng-container *ngIf="block.type=='io'">
                                    <nz-select ngModel="lucy">
                                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    </nz-select>
                                    <nz-select ngModel="lucy">
                                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    </nz-select>
                                </ng-container>
                                <ng-container *ngIf="block.type=='serial'">
                                    <nz-select ngModel="lucy">
                                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    </nz-select>
                                    <input nz-input placeholder="Basic usage" type="number" />
                                </ng-container>
                                <ng-container *ngIf="block.type=='pwm'">
                                    <nz-select ngModel="pwm">
                                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    </nz-select>
                                    <nz-select ngModel="lucy">
                                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    </nz-select>
                                    <input nz-input placeholder="Basic usage" type="number" />
                                </ng-container>
                                <ng-container *ngIf="block.type=='play'">
                                    <input nz-input placeholder="Basic usage" type="number" />
                                </ng-container>
                                <ng-container *ngIf="block.type=='delay'">
                                    <input nz-input placeholder="Basic usage" type="number" />
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microphone"></i></div>
                语音指令
                <div><i class="fa-regular fa-plus"></i></div>
            </div>
            <div class="a-row">
                <div class="left">
                    指令1
                    <input nz-input type="text">
                </div>
                <div class="right">
                    <div style="text-align: center;color:#ccc">拖拽模块到这里，编排触发动作</div>

                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microchip"></i></div>
                I/O中断
                <div><i class="fa-regular fa-plus"></i></div>
            </div>
            <div class="a-row">
                <div class="left">
                    <input nz-input type="text">
                </div>
                <div class="right">

                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-laptop-code"></i></div>
                串口输入
                <div><i class="fa-regular fa-plus"></i></div>
            </div>
            <div class="a-row">
                <div class="left">
                    <input nz-input type="text">
                </div>
                <div class="right">

                </div>
            </div>
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-brackets-curly"></i></div>
            可用模块
        </div>
        <div>
            <ng-container *ngFor="let block of blockList">
                <div class="block" [ngStyle]="{'background': block.background}">
                    <div class="top" [ngStyle]="{'color': block.color}">
                        <div class="icon ccenter" [ngStyle]="{'background': block.background2}">
                            <i class="{{block.icon}}"></i>
                        </div>
                        <div class="text">
                            {{block.title}}
                        </div>
                        <div class="dots">
                            <i class="fa-solid fa-grip-dots"></i>
                        </div>
                    </div>
                    <div class="bot">
                        <ng-container *ngIf="block.type=='io'">
                            <nz-select ngModel="lucy">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            </nz-select>
                            <nz-select ngModel="lucy">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            </nz-select>
                        </ng-container>
                        <ng-container *ngIf="block.type=='serial'">
                            <nz-select ngModel="lucy">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            </nz-select>
                            <input nz-input placeholder="Basic usage" type="number" />
                        </ng-container>
                        <ng-container *ngIf="block.type=='pwm'">
                            <nz-select ngModel="pwm">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            </nz-select>
                            <nz-select ngModel="lucy">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            </nz-select>
                            <input nz-input placeholder="Basic usage" type="number" />
                        </ng-container>
                        <ng-container *ngIf="block.type=='play'">
                            <input nz-input placeholder="Basic usage" type="number" />
                        </ng-container>
                        <ng-container *ngIf="block.type=='delay'">
                            <input nz-input placeholder="Basic usage" type="number" />
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="header">
        <h1>产品配置</h1>
        <div class="options">
            <label for="voice">语音播放设置</label>
            <select id="voice">
                <option value="温柔女声">温柔女声</option>
            </select>
            <label for="volume">音量</label>
            <input type="number" id="volume" value="1">
            <label for="language">语言</label>
            <input type="number" id="language" value="1">
        </div>
    </div>
    <div class="main">
        <div class="config-section">
            <div class="config-item">
                <label for="uart">通信串口设置</label>
                <select id="uart">
                    <option value="UART2">UART2</option>
                </select>
                <label for="baudrate">波特率</label>
                <input type="number" id="baudrate" value="115200">
            </div>
            <div class="config-item">
                <label for="trigger-word">唤醒词</label>
                <input type="text" id="trigger-word" value="你好 aily">
            </div>
            <div class="config-item">
                <label for="command1">指令1</label>
                <input type="text" id="command1" value="开灯">
                <label for="action1">动作1</label>
                <input type="text" id="action1">
                <label for="delay1">延迟</label>
                <input type="number" id="delay1" value="1000">
            </div>
            <div class="config-item">
                <label for="command2">指令2</label>
                <input type="text" id="command2" value="关灯">
                <label for="action2">动作2</label>
                <input type="text" id="action2">
                <label for="delay2">延迟</label>
                <input type="number" id="delay2" value="1000">
            </div>
            <div class="config-item">
                <label for="command3">指令3</label>
                <input type="text" id="command3" value="开启风扇">
                <label for="action3">动作3</label>
                <input type="text" id="action3">
                <label for="delay3">延迟</label>
                <input type="number" id="delay3" value="1000">
            </div>
            <button class="btn btn-primary">添加语音指令</button>
        </div>
        <div class="config-section">
            <label for="io-input">IO输入</label>
            <select id="io-input">
                <option value="GPIO10">GPIO10</option>
            </select>
            <select id="io-state">
                <option value="HIGH">HIGH</option>
            </select>
            <button class="btn btn-primary">添加IO输入</button>
        </div>
        <div class="config-section">
            <label for="uart-input">串口输入</label>
            <input type="text" id="uart-input" value="ok">
            <button class="btn btn-primary">添加串口输入</button>
        </div>
        <div class="action-buttons">
            <button class="btn btn-primary">下载配置</button>
            <button class="btn btn-secondary">保存配置</button>
        </div>
    </div>
</div> -->