<div class="software">
    <div class="tool-bar">
        <button nz-button class="btn ccenter" nz-tooltip nzTooltipTitle="导出配置" nzTooltipPlacement="bottom"
            (click)="exportFile()">
            <i class="fa-regular fa-file-export"></i></button>
        <button nz-button class="btn ccenter" nz-tooltip nzTooltipTitle="导入配置" nzTooltipPlacement="bottom"
            (click)="importFile()">
            <i class="fa-regular fa-file-import"></i></button>
        <button nz-button class="btn ccenter" nz-tooltip nzTooltipTitle="清除配置" nzTooltipPlacement="bottom"
            (click)="clearAll()">
            <i class="fa-regular fa-broom-wide"></i></button>
        <div class="ge"></div>
        <button nz-button (click)="test()">
            <i class="fa-regular fa-cloud-arrow-down"></i>下载固件</button>
        <button nz-button (click)="runOTA()">
            <i class="fa-regular fa-download"></i>更新模块</button>
        <button nz-button nzType="text" class="help">
            <i class="fa-light fa-circle-info"></i> 使用说明</button>
    </div>
    <div class="left-box">
        <div class="rrow">
            <div class="block-box">
                <div class="title">
                    <div>
                        <i class="fa-solid fa-link-simple"></i>
                    </div>
                    语音播放
                </div>
                <div class="top">
                    <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-users"></i></div>
                            音色
                        </div>
                        <nz-select ngModel="温柔女声">
                            <nz-option nzValue="温柔女声" nzLabel="温柔女声"></nz-option>
                        </nz-select>
                    </div>
                    <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-volume"></i></div>
                            音量
                        </div>
                        <div class="slider-box">
                            <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="speech.volume"
                                (ngModelChange)="settingchange()"></nz-slider>
                        </div>
                    </div>
                    <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-comment-dots"></i></div>
                            语速
                        </div>
                        <div class="slider-box">
                            <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="speech.speed"
                                (ngModelChange)="settingchange()"></nz-slider>
                        </div>
                    </div>
                    <!-- <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-explosion"></i></div>
                            语调
                        </div>
                        <div class="slider-box">
                            <nz-slider [nzMin]="0" [nzMax]="9" [(ngModel)]="pitch"
                                (ngModelChange)="settingchange()"></nz-slider>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="block-box">
                <div class="title">
                    <div><i class="fa-solid fa-sliders"></i></div>
                    串口通信
                </div>
                <div class="top">
                    <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-pager"></i></div>
                            串口
                        </div>
                        <nz-select [(ngModel)]="serial.port">
                            <nz-option nzValue="UART2" nzLabel="UART2"></nz-option>
                        </nz-select>
                    </div>
                    <div class="setting-item">
                        <div class="line ccenter">
                            <div class="ccenter"><i class="fa-solid fa-monitor-waveform"></i></div>
                            波特率
                        </div>
                        <div class="slider-box">
                            <input nz-input type="number" [(ngModel)]="serial.baudrate">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-box cmd-box">
            <div class="title">
                <div><i class="fa-solid fa-input-text"></i></div>
                唤醒词
            </div>
            <div class="a-row" *ngFor="let subList of weekCmdList;index as i">
                <div class="left">
                    <div class="text">唤醒词</div>
                    <input nz-input type="text" [(ngModel)]="weekKeyword">
                </div>
                <div class="right" dragula="VAMPIRES" id="weekCmd" [(dragulaModel)]='weekCmdList[i]'>
                    <app-block *ngFor="let block of subList" [block]="block"></app-block>
                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microphone"></i></div>
                语音指令
                <button class="add-btn" nz-button nzType="text" (click)="addAsrCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let subList of asrCmdList;index as i">
                <div class="left">
                    <div class="text">语音指令{{i}}</div>
                    <input nz-input type="text" [(ngModel)]="asrKeywords[i]">
                </div>
                <div class="right" dragula="VAMPIRES" id="speechCmd" [(dragulaModel)]='asrCmdList[i]'>
                    <!-- <div style="text-align: center;color:#ccc">拖拽模块到这里，编排触发动作</div> -->
                    <app-block *ngFor="let block of subList" [block]="block"></app-block>
                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-microchip"></i></div>
                I/O中断
                <button class="add-btn" nz-button nzType="text" (click)="addIntCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let subList of intCmdList;index as i">
                <div class="left">
                    <div class="text">IO中断指令{{i}}</div>
                    <div class="left-inner">
                        <nz-select [nzDropdownClassName]="'ddc'" [(ngModel)]="intParams[i].pin">
                            <nz-option nzValue="{{PIN}}" nzLabel="{{PIN}}" *ngFor="let PIN of INT_PINS"></nz-option>
                        </nz-select>
                        <nz-select ngModel="UP" [nzDropdownClassName]="'ddc'" [(ngModel)]="intParams[i].mode">
                            <nz-option nzValue="UP" nzLabel="UP"></nz-option>
                            <nz-option nzValue="DOWN" nzLabel="DOWN"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="right" dragula="VAMPIRES" id="intCmd" [(dragulaModel)]='intCmdList[i]'>
                    <app-block *ngFor="let block of subList" [block]="block"></app-block>
                </div>
            </div>
            <div class="title">
                <div><i class="fa-solid fa-laptop-code"></i></div>
                串口输入
                <button class="add-btn" nz-button nzType="text" (click)="addSerialCmd()"><i
                        class="fa-regular fa-plus"></i>添加</button>
            </div>
            <div class="a-row" *ngFor="let subList of serialCmdList;index as i">
                <div class="left">
                    <div class="text">串口指令{{i}}</div>
                    <input nz-input type="text" [(ngModel)]="serialParams[i]">
                </div>
                <div class="right" dragula="VAMPIRES" id="serialCmd" [(dragulaModel)]='serialCmdList[i]'>
                    <app-block *ngFor="let block of subList" [block]="block"></app-block>
                </div>
            </div>
        </div>
    </div>
    <div class="right-box block-box">
        <div class="title">
            <div><i class="fa-solid fa-brackets-curly"></i></div>
            可用模块
        </div>
        <div id="block-bar" dragula="VAMPIRES" [(dragulaModel)]='blockList'>
            <ng-container *ngFor="let block of blockList">
                <app-block [block]="block"></app-block>
            </ng-container>
        </div>
    </div>
</div>