.block {
    height: 68px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    box-shadow: 0 0 2px #e1e1e1;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        .copy,.delete{
            visibility: visible !important;
        }
    }

    .top {
        display: flex;
        align-items: center;
        font-size: 12px;

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 5px;
            font-size: 14px;
        }

        .copy {
            visibility: hidden;
            position: absolute;
            right: 32px;
            opacity: 0.5;
            width: 22px;
            height: 22px;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }

        .delete {
            visibility: hidden;
            position: absolute;
            right: 10px;
            opacity: 0.5;
            width: 22px;
            height: 22px;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }

        .text {
            user-select: none;
        }
    }

    .bot {
        height: 30px;
        display: flex;
        margin-top: 5px;

        nz-select {
            height: 24px;
            min-width: 55px;
            border-radius: 5px;
            margin-right: 8px;

            ::ng-deep {
                nz-select-top-control {
                    height: 24px;
                    border-radius: 5px;
                    border: none;
                    padding: 0 3px;
                }

                nz-select-item {
                    font-size: 10px;
                    padding-right: 12px;
                    line-height: 24px;
                }

                nz-select-arrow {
                    font-size: 9px;
                    right: 4px;
                    top: 55%;
                }

            }

            &:last-child {
                margin-right: 0;
            }
        }

        input {
            font-size: 12px;
            height: 24px;
            padding: 2px 5px;
            border-radius: 5px;
            border: none;
        }

        .unit {
            font-size: 10px;
            margin-left: 6px;
        }
    }
}
