<div class="block" [ngStyle]="{'background': block.background,'width':block.width+'px'}">
    <div class="top" [ngStyle]="{'color': block.color}">
        <div class="icon ccenter" [ngStyle]="{'background': block.background2}">
            <i class="{{block.icon}}"></i>
        </div>
        <div class="text">
            {{block.title}}
        </div>
        <div class="dots">
            <i class="fa-solid fa-grip-dots"></i>
        </div>
    </div>
    <div class="bot">
        <ng-container *ngIf="block.type=='io'">
            <nz-select ngModel="GPIO1" [nzDropdownClassName]="'ddc'">
                <nz-option nzValue="GPIO1" nzLabel="GPIO1"></nz-option>
            </nz-select>
            <nz-select ngModel="HIGH" [nzDropdownClassName]="'ddc'">
                <nz-option nzValue="HIGH" nzLabel="HIGH"></nz-option>
            </nz-select>
        </ng-container>
        <ng-container *ngIf="block.type=='serial'">
            <nz-select ngModel="HEX" [nzDropdownClassName]="'ddc'">
                <nz-option nzValue="HEX" nzLabel="HEX"></nz-option>
                <nz-option nzValue="STRING" nzLabel="STRING"></nz-option>
            </nz-select>
            <input nz-input type="number" />
        </ng-container>
        <ng-container *ngIf="block.type=='pwm'">
            <nz-select ngModel="GPIO2" [nzDropdownClassName]="'ddc'">
                <nz-option nzValue="GPIO2" nzLabel="GPIO2"></nz-option>
            </nz-select>
            <nz-select ngModel="50" [nzDropdownClassName]="'ddc'" style="width: 60px;">
                <nz-option nzValue="50" nzLabel="50"></nz-option>
            </nz-select>
            <div class="unit ccenter">Hz</div>
            <input nz-input type="number" />
            <div class="unit ccenter">%</div>
        </ng-container>
        <ng-container *ngIf="block.type=='play'">
            <input nz-input [(ngModel)]="block.value" type="number" />
        </ng-container>
        <ng-container *ngIf="block.type=='delay'">
            <input nz-input [(ngModel)]="block.value" type="number" /><div class="unit ccenter">ms</div>
        </ng-container>
    </div>
</div>