/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.css";

body {
  margin: 0;
  overflow: hidden;
}

.ccenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


.ddc {
  nz-option-item {
    font-size: 10px !important;
    padding: 3px !important;
  }

  nz-option-container{
    // height: 30px;
    padding: 0;
  }
}