<div class="window">
    <div class="menu ccenter">
        <ng-container *ngFor="let item of MENU">
            <div *ngIf="item.route" class="item ccenter" [routerLink]="item.route" [routerLinkActive]="'active'">
                <i class="{{item.icon}}"></i>
            </div>
            <a *ngIf="item.url" class="item ccenter" href="{{item.url}}" target="_blank">
                <i class="{{item.icon}}"></i>
            </a>
        </ng-container>
    </div>
    <div class="main">
        <div class="title">aily TTS Module v1</div>
        <router-outlet></router-outlet>
    </div>
</div>